In [1]:
using DataFrames, Impute, CSV,Plots,Statistics,StatsPlots,VegaLite

In [2]:
gr()
pyplot()

Plots.PyPlotBackend()

In [3]:
data = CSV.read("/home/useeffect/Desktop/Kaggle/india.csv",DataFrame)
println(typeof(data))
println(describe(data))

DataFrame
14×7 DataFrame
 Row │ variable  mean       min    median   max    nmissing  eltype
     │ Symbol    Float64    Real   Float64  Real   Int64     DataType
─────┼────────────────────────────────────────────────────────────────
   1 │ Column1     58.0         0    58.0     116         0  Int64
   2 │ YEAR      1959.0      1901  1959.0    2017         0  Int64
   3 │ JAN         18.4232  17.25    18.35  20.92         0  Float64
   4 │ FEB         20.1379  17.79    19.99  23.58         0  Float64
   5 │ MAR         23.4342  21.78    23.33  26.61         0  Float64
   6 │ APR         26.5141  24.84    26.54  29.56         0  Float64
   7 │ MAY         28.3864  26.97    28.34  30.78         0  Float64
   8 │ JUN         28.3009  27.33    28.25  29.88         0  Float64
   9 │ JUL         27.3692  26.48    27.34  28.47         0  Float64
  10 │ AUG         26.9401  26.21    26.9   28.17         0  Float64
  11 │ SEP         26.3426  25.47    26.31  28.11         0  Float64
  12 │ OCT         24.7421  23.52    24.67  27.24         0  Float64
  13 │ NOV         21.7657  20.59    21.72  23.92         0  Float64
  14 │ DEC         19.1733  17.98    19.18  21.89         0  Float64

In [4]:
show(data,allcols=true)

117×14 DataFrame
 Row │ Column1  YEAR   JAN      FEB      MAR      APR      MAY      JUN      JUL      AUG      SEP      OCT      NOV      DEC
     │ Int64    Int64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │       0   1901    17.99    19.43    23.49    26.41    28.28    28.6     27.49    26.98    26.26    25.08    21.73    18.95
   2 │       1   1902    19.0     20.39    24.1     26.54    28.68    28.44    27.29    27.05    25.95    24.37    21.33    18.78
   3 │       2   1903    18.32    19.79    22.46    26.03    27.93    28.41    28.04    26.63    26.34    24.57    20.96    18.29
   4 │       3   1904    17.77    19.39    22.95    26.73    27.83    27.85    26.84    26.73    25.84    24.36    21.07    18.84
   5 │       4   1905    17.4     17.79    21.78    24.84    28.32    28.69    27.67    27.47    26.29    26.16    22.07    18.71
   6 │       5   1906    17.5     19.14    22.21    26.53    29.06    28.02    27.46    26.82    26.23    24.75    21.93    19.55
   7 │       6   1907    19.27    19.42    22.03    26.98    27.52    27.66    27.28    26.38    26.26    24.72    22.11    18.46
   8 │       7   1908    18.35    19.73    22.93    27.06    28.07    28.49    27.16    26.41    25.74    24.25    21.06    18.15
   9 │       8   1909    17.79    19.05    23.4     25.76    27.97    27.67    26.56    26.43    25.47    24.37    22.01    18.86
  10 │       9   1910    18.14    19.72    22.9     25.96    28.36    27.72    26.93    26.61    25.98    24.04    20.72    18.05
  11 │      10   1911    18.52    19.18    22.05    26.0     28.55    28.02    27.44    27.04    26.22    24.57    21.1     18.76
  ⋮  │    ⋮       ⋮       ⋮        ⋮        ⋮        ⋮        ⋮        ⋮        ⋮        ⋮        ⋮        ⋮        ⋮        ⋮
 107 │     106   2007    19.24    20.97    23.52    27.72    28.84    28.31    27.66    27.37    26.61    24.92    22.4     19.65
 108 │     107   2008    18.49    19.83    24.43    26.54    28.42    28.1     27.5     27.0     26.44    25.47    22.51    20.62
 109 │     108   2009    19.79    21.66    24.55    27.35    28.71    28.77    27.83    27.85    27.11    25.2     22.31    20.22
 110 │     109   2010    19.15    21.23    26.53    28.4     29.19    28.51    27.55    27.33    26.6     25.58    22.98    19.22
 111 │     110   2011    18.32    20.79    24.11    26.1     28.92    28.6     27.6     27.2     26.7     25.51    22.84    19.84
 112 │     111   2012    18.25    20.43    23.98    26.89    28.72    28.91    27.98    27.31    26.65    24.85    22.26    19.91
 113 │     112   2013    18.88    21.07    24.53    26.97    29.06    28.24    27.5     27.22    26.87    25.63    22.18    19.69
 114 │     113   2014    18.81    20.35    23.34    26.91    28.45    29.42    28.07    27.42    26.61    25.38    22.53    19.5
 115 │     114   2015    19.02    21.23    23.52    26.52    28.82    28.15    28.03    27.64    27.04    25.82    22.95    20.21
 116 │     115   2016    20.92    23.58    26.61    29.56    30.41    29.7     28.18    28.17    27.72    26.81    23.9     21.89
 117 │     116   2017    20.59    23.08    25.58    29.17    30.47    29.44    28.31    28.12    28.11    27.24    23.92    21.47
                                                                                                                   95 rows omitted

In [5]:
summary(data)

"117×14 DataFrame"

In [6]:
names(data)

14-element Vector{String}:
 "Column1"
 "YEAR"
 "JAN"
 "FEB"
 "MAR"
 "APR"
 "MAY"
 "JUN"
 "JUL"
 "AUG"
 "SEP"
 "OCT"
 "NOV"
 "DEC"

In [7]:
data2 = stack(data,3:14)

1404×4 DataFrame
  Row │ Column1  YEAR   variable  value
      │ Int64    Int64  String    Float64
──────┼───────────────────────────────────
    1 │       0   1901  JAN         17.99
    2 │       1   1902  JAN         19.0
    3 │       2   1903  JAN         18.32
    4 │       3   1904  JAN         17.77
    5 │       4   1905  JAN         17.4
    6 │       5   1906  JAN         17.5
    7 │       6   1907  JAN         19.27
    8 │       7   1908  JAN         18.35
    9 │       8   1909  JAN         17.79
   10 │       9   1910  JAN         18.14
   11 │      10   1911  JAN         18.52
  ⋮   │    ⋮       ⋮       ⋮         ⋮
 1395 │     107   2008  DEC         20.62
 1396 │     108   2009  DEC         20.22
 1397 │     109   2010  DEC         19.22
 1398 │     110   2011  DEC         19.84
 1399 │     111   2012  DEC         19.91
 1400 │     112   2013  DEC         19.69
 1401 │     113   2014  DEC         19.5
 1402 │     114   2015  DEC         20.21
 1403 │     115   2016  DEC         21.89
 1404 │     116   2017  DEC         21.47
                         1383 rows omitted

In [8]:
describe(data2)

4×7 DataFrame
 Row │ variable  mean     min    median  max    nmissing  eltype
     │ Symbol    Union…   Any    Union…  Any    Int64     DataType
─────┼─────────────────────────────────────────────────────────────
   1 │ Column1   58.0     0      58.0    116           0  Int64
   2 │ YEAR      1959.0   1901   1959.0  2017          0  Int64
   3 │ variable           APR            SEP           0  String
   4 │ value     24.2942  17.25  25.57   30.78         0  Float64

In [9]:
select!(data2,Not(:Column1))

1404×3 DataFrame
  Row │ YEAR   variable  value
      │ Int64  String    Float64
──────┼──────────────────────────
    1 │  1901  JAN         17.99
    2 │  1902  JAN         19.0
    3 │  1903  JAN         18.32
    4 │  1904  JAN         17.77
    5 │  1905  JAN         17.4
    6 │  1906  JAN         17.5
    7 │  1907  JAN         19.27
    8 │  1908  JAN         18.35
    9 │  1909  JAN         17.79
   10 │  1910  JAN         18.14
   11 │  1911  JAN         18.52
  ⋮   │   ⋮       ⋮         ⋮
 1395 │  2008  DEC         20.62
 1396 │  2009  DEC         20.22
 1397 │  2010  DEC         19.22
 1398 │  2011  DEC         19.84
 1399 │  2012  DEC         19.91
 1400 │  2013  DEC         19.69
 1401 │  2014  DEC         19.5
 1402 │  2015  DEC         20.21
 1403 │  2016  DEC         21.89
 1404 │  2017  DEC         21.47
                1383 rows omitted

In [24]:
println(data2[!, :variable])
newDate =string(data2[!, :variable],data2[!, :YEAR])

["JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "JAN", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "FEB", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "MAR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "APR", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "MAY", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUN", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "JUL", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "AUG", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "SEP", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "OCT", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "NOV", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC", "DEC"]

"[\"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JAN\", \"JA" ⋯ 17713 bytes ⋯ "1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]"

In [23]:
data2[! :newDate] = newDate

LoadError: MethodError: no method matching !(::Symbol)
Closest candidates are:
  !(::Function) at ~/julia-1.7.1/share/julia/base/operators.jl:1117
  !(::DataValues.DataValue{T}) where T<:Number at ~/.julia/packages/DataValues/N7oeL/src/scalar/core.jl:203
  !(::Bool) at ~/julia-1.7.1/share/julia/base/bool.jl:35
  ...